<div class="container"> <!-- Start page content -->
  <div class="row">     
    <div class="col-md-12">
      <ul class="list-inline">
        <li class="col-lg-10 col-md-10 col-sm-9 col-xs-12"><form method="post" action="http://www.eebootstrap.com/forum/do_search/"  >
        <div class='hiddenFields'>
        <input type="hidden" name="board_id" value="1" />
        <input type="hidden" name="site_id" value="1" />
        <input type="hidden" name="csrf_token" value="07ea89281a0556673d548447a9cfdd135cf5e999" />
        </div>
        <div class="form group input-group">
          <input type="text" class="form-control" placeholder="Search" name="keywords" required>
          <span class="input-group-btn">
          <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-fw"></i></button>
          </span>
        </div>
        </form></li> 
        <li class="col-lg-2 col-md-2 col-sm-3 hidden-xs"><a href="#/search" class="btn btn-primary pull-right" role="button">Advanced Search</a></li>
      </ul>
    </div>      
  </div>
    
  <div class="clearfix">&nbsp;</div>
  <div class="row">
      <div class="col-md-12 hidden-xs">
      <ol class="breadcrumb"><li><a href="http://www.eebootstrap.com/forum/" title="Forum Home">Forum Home</a></li><li><a href="http://www.eebootstrap.com/forum/viewcategory/1/" title="eeBootstrap">eeBootstrap</a></li><li class="active">Installation and Upgrade Support</li></ol>
      </div>    
  </div>


  <div class="row">
    <div class="col-md-12">
      <a href="#/newTopic" title="New Topic"><button type="button" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> New Topic</button></a> 
    </div>
  </div>

  <div class="clearfix">&nbsp;</div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">General Discussion</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="hidden-xs"></th>
            <th>Topic Title</th>
            <th class="text-right">Replies</th>
            <th class="text-right">Views</th>
            <th class="hidden-xs">Latest Post Info</th>
          </tr>
        </thead>
        <tbody>
          <tr id="a1"  class="" ng-repeat="post in generalPosts">
            <td class="hidden-xs topic-marker">
              <a href="{{post.url}}">    
                <i class="fa fa-comments fa-lg"></i>
              </a>
            </td>
            <td class="col-md-6">
              <div>
                <span class='forumLightLinks'ng-if="post.sticky">Sticky:&nbsp;</span>
                <span class="PostPrefix">
                  <span class="PostPrefixView"></span>
                  <a href="http://www.eebootstrap.com/forum/viewthread/39/" title="{{post.title}}"><span class="PostPrefixTitle" ng-bind="post.title"></span></a>
                </span>
                
                
              </div>
              <small class="text-muted"><a href="http://www.eebootstrap.com/forum/member/1/" ng-bind="post.originalPoster"></a></small>
            </td>
            <td class="col-md-1 text-right"><span class="badge" ng-bind="post.replies"></span></td>
            <td class="col-md-1 text-right"><span class="badge" ng-bind="post.views"></span></td>
            <td class="col-md-4 hidden-xs">
              <div>
                Posted: {{post.timePosted}}<br />
                
                <small class="text-muted"><a href="http://www.eebootstrap.com/forum/member/1/" ng-bind="post.lastPoster"></a></small>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-4">
      <form method="post" action="http://www.eebootstrap.com/forum/do_search/"  >
      <div class='hiddenFields'>
        <input type="hidden" name="board_id" value="1" />
        <input type="hidden" name="site_id" value="1" />
        <input type="hidden" name="csrf_token" value="07ea89281a0556673d548447a9cfdd135cf5e999" />
      </div>
      <div class="input-group">
          <input type="hidden" name="forum_id" value="9" />
          <input type="text" class="form-control" placeholder="Search this forum" name="keywords" required>
          <span class="input-group-btn">
          <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-fw"></i></button>
          </span>
      </div>
      </form>
    </div>
    
    
    <div class="visible-xs visible-sm clearfix">&nbsp;</div>
    
    <div class="col-md-8">
      <a href="http://www.eebootstrap.com/forum/newtopic/9/" title="New Topic"><button type="button" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> New Topic</button></a> 
    </div>
</div>


<div class="clearfix">&nbsp;</div>
<div class="panel-group" id="accordion_topic_legend">
  <div class="panel panel-default">
     <a class="panel-default" data-toggle="collapse" data-parent="#accordion_topic_legend" href="#topic_legend">
      <div class="panel-heading">
        <i class="fa fa-sitemap"></i> Post Marker Legend <span class="pull-right"><i class="fa fa-compress"></i></span>
      </div>
    </a>
    <div id="topic_legend" class="panel-collapse collapse in">
      <div class="panel-body">
  
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">            
            <i class="fa fa-comments-o fa-lg"></i> New posts
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">  
            <i class="fa fa-fire fa-lg"></i> Hot Topic with new posts
          </div>
          <div class="col-md-3 col-sm-2 col-xs-6">  
            <i class="fa fa-bar-chart fa-rotate-90"></i> New Poll
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">  
            <i class="fa fa-sign-out fa-lg"></i> Moved Topic
          </div>
        </div>    
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">  
            <i class="fa fa-comments fa-lg"></i> Old Topic
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">  
            <i class="fa fa-fire-extinguisher fa-lg"></i> Hot Topic with no new posts
          </div>
      
          <div class="col-md-3 col-sm-2 col-xs-6">  
            <i class="fa fa-bar-chart-o fa-rotate-90"></i> Old Poll
          </div>
        
          <div class="col-md-3 col-sm-3 col-xs-6">  
          
            <i class="fa fa-thumb-tack fa-lg"></i> Sticky topic
          </div>      
        </div>        
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">  
            <i class="fa fa-lock fa-lg"></i> Closed Topic
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">  
            <i class="fa fa-bullhorn fa-lg"></i> Announcements
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>

</div><!-- End page content -->